@import "config";
@import "custom-swiper-btn";
@import "horizontal-items";
@import "vertical-items";
@import "ordered-items";
@import "cards-block";
@import "watch-by-genre";



body {
  color: white;
  background-color: #0D0C0F;
}

.styled-slider {
  .swiper-button-next,
  .swiper-button-prev {
    @extend .custom-swiper-btn
  }
}

.swiper-header-home {  
    .swiper-pagination-bullet {       
        background: white;       
    }
    @media (min-width:$sm) {
        .swiper-pagination-bullets{
            width: initial;
            left: initial;
            right: max(1rem, 10%);
        }      
      .header-movie-info {
        width: 60%;

      }
      } 
      .header-movie-info {
        margin: auto auto 10% 1rem;
      }       
    
}

.navigation-link {
  opacity: .7;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}




